.contact-edit {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(224, 233, 241, 0.954);
  width: 18em;
  height: max-content;
  padding: 1em;
  margin: auto;
  margin-block-start: 2em;

  h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    input {
      border-radius: 10px;
      border: none;
      padding: 4px;
    }
    button {
      border: none;
      border-radius: 15px;
      background-color: rgb(210, 250, 250);
      width: max-content;
      margin: auto;
      padding: 0.5em;
      transition: 0.3s;
      &:hover {
        background-color: darken(rgb(210, 250, 250), 10%);
      }
    }
  }
}
