.home-title {
  // color: white;
  font-size: 3em;
  text-align: center;
  margin: auto;
  margin-block-start: 0.5em;
  font-weight: bold;
  background-color: #efb3ff54;
  // width: max-content;
  border-radius: 35px;
  padding: 0.3em;
}

.user-details {
  border: 1px solid rgb(67, 215, 8);
  background-color: #54026acf;
  border-radius: 15px;
  width: max-content;
  padding: 1em;
  margin: auto;
  margin-block-start: 0.7em;
  line-height: 3em;
  font-size: 2em;
  box-shadow: 10px 10px 13px -7px #000000, -1px 18px 15px 4px rgba(75, 1, 95, 0.37);
}
