.home-title {
  color: rgb(142, 240, 139);
  font-size: 3em;
  text-align: center;
  margin: auto;
  margin-block-start: 0.5em;
  font-weight: bold;
  background-color: rgba(79, 55, 55, 0.842);
  // width: max-content;
  border-radius: 35px;
  padding: 0.3em;
}

.user-details {
  border: 1px solid black;
  background-color: rgba(53, 77, 62, 0.866);
  border-radius: 15px;
  width: max-content;
  padding: 1em;
  margin: auto;
  margin-block-start: 0.7em;
  line-height: 3em;
  font-size: 2em;
}
